body{
	background-color:black;
}
.socialmedia{
	margin-left:-25px;
}
#nametag{
	color:red;
	display:inline-block;
	font-family:audiowide;
	font-size:1.7em;
	
	z-index:900;
	
}
.modal-content{
	margin-top:40%;
}
#logwindow{
	background-color:black;
	color:white;
}
.modal-header{
	border:none;
}
.modal-footer{
	border:none;
}

#contactgegevens{
	margin-top:5%;

}
#contactgegevens ul li{
	font-family:audiowide;
}
#navbar{
	margin-bottom:0px;
	background-color:black;
	z-index:1;
}

#menu {
	display:inline-block;
	font-family:audiowide;
	position:relative;
	background-color:black;
	z-index:100;
	
}

#menu ul li {
	background-color:black;
	font-family:audiowide;
}
#menu li a{
	color:white;
	font-size:1.2em;
	font-family:audiowide;
}

#menu li a:hover{
	color:red;
	font-family:audiowide;}
#logo{
	color:white;
	z-index:900;
	position:absolute;
	margin-left:8%;
	margin-top:14%;
	height:400px;
	font-family:audiowide;
}
#logo h1{
	display:inline-block;
	font-size:7em;
	margin-top:;
}
#header{
	position:relative
	height:auto;
	z-index:1;
}

.midcontent{
	border-top:10px solid black;
	z-index:200;
	width:100%;
	background-color:black;
	position:relative;
	margin-bottom:0%;
	height:720px;
	font-family:audiowide;
}
#receiptform{
	margin-top:5%;
	background-color:#2A2D2A;
	color:white;
	width:75%;
	height:700px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5%;
}
#receiptform button{
	background-color:black;
	color:white;
	border:none;
	width:150px;
	height:50px;
	font-family:audiowide;
	
}
#receiptform button:hover{
	color:red;
	
}
#submitbutton{
	width:150px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
}
#forms{
	margin-top:5%;
	margin-left:5%;
	
}

#contactgegevens{
	float:right;
}
#contactgegevens ul li span a{
	font-family:audiowide;
	text-decoration:none;
	font-size:1em;
	color:white;
	margin-left:5%;
}
#glyphs{
	margin-right:10px;
}
.maps{
	margin-top:7%;
	border-radius:10px;
	width:300px;
	height:250px;
}
#contactgegevens ul li span a:hover{
	color:white;
}
.info li{
	list-style-type:none;
	font-family:audiowide;
}	
.headertext{
	margin-top:5%;
	font-family:audiowide;
}

hr{
	color:white;
	height:5px;
}


#footer{
	
	width:100%;
	background-color:#2A2D2A;
	height:280px;
	position:relative;
	margin-top:10%;
}
.footerimg{
	width:210px;
	padding-top:3%;
	margin-left:auto;
	margin-right:auto;
}
#footermenu{
	margin-top:-2%;
	color:white;
}