body{
	background-color:black;
}
.socialmedia{
	margin-left:-25px;
}
#nametag{
	color:red;
	display:inline-block;
	font-family:audiowide;
	font-size:1.7em;
	
	z-index:900;
	
}
.modal-content{
	margin-top:40%;
}
#logwindow{
	background-color:black;
	color:white;
}
.modal-header{
	border:none;
}
.modal-footer{
	border:none;
}
.modal-footer {
	border:none;
}

#navbar{
	margin-bottom:0px;
	background-color:black;
	z-index:1;
}

#menu {
	display:inline-block;
	font-family:audiowide;
	position:relative;
	background-color:black;
	z-index:100;
	
}

#menu ul li {
	background-color:black;
	font-family:audiowide;
}
#menu li a{
	color:white;
	font-size:1.2em;
	font-family:audiowide;
}

#menu li a:hover{
	color:red;
	font-family:audiowide;}
#logo{
	color:white;
	z-index:900;
	position:absolute;
	margin-left:8%;
	margin-top:14%;
	height:400px;
	font-family:audiowide;
}
#logo h1{
	display:inline-block;
	font-size:7em;
	margin-top:;
}
#header{
	position:relative
	height:auto;
	z-index:1;
}

#gallery{
	width:1500px;
	margin-top:5%;
	margin-left:auto;
	margin-right:auto;
}
.midcontent{
	border-top:10px solid black;
	z-index:200;
	width:100%;
	background-color:black;
	position:relative;
	margin-bottom:0%;
	height:2800px;
	font-family:audiowide;
}
.thumbnail{
	background-color: rgba(214, 44, 44, 0.74);
	border:none;
	color:white;
	height:480px;
	border:2px solid white;
	border-radius:10px;
}
.thumbnail2{
	background-color: rgba(214, 44, 44, 0.74);
	border:none;
	color:white;
	height:520px;
	border:2px solid white;
	border-radius:10px;
}
.thumbnail h3{
	margin-bottom:20%;
	width:130px;
	margin-left:auto;
	margin-right:auto;
}
.thumbnail2 h3{
	margin-bottom:20%;
	width:130px;
	margin-left:auto;
	margin-right:auto;
}


.weps{
	width:300px;
	margin-left:auto;
	margin-right:auto;
}
.thumbnail input{
	background-color:black;
	color:white;
	border:none;
	width:150px;
	height:30px;
}
.thumbnail2 input{
	background-color:black;
	color:white;
	border:none;
	width:150px;
	height:30px;
}
.thumbnail input:hover{
	color:red;
}
.thumbnail2 input:hover{
	color:red;
}
.sbutton{
	margin-left:auto;
	margin-right:auto;
	margin-top:15%;
	width:152px;
	height:32px;

}
.vid{
	width:1180px;
	margin-top:2%;
	margin-left:auto;
	margin-right:auto;
}
iframe{
	margin-left:2%;
	display:inline-block;
	border:2px solid white;
}
#text{
	font-family:audiowide;
	position:relative;
	color:white;
	width:30%;
	padding-top:5%;
	margin-left:auto;
	margin-right:auto;
	
	
}
#text2{
	font-family:audiowide;
	position:relative;
	color:white;
	width:30%;
	margin-top:5%;
	margin-left:auto;
	margin-right:auto;
	
	
}
#storeitem{
	height:200px;
}



#slider{
	
	
}
.headertext{
	margin-top:5%;
	font-family:audiowide;
}

hr{
	color:white;
	height:5px;
}


#footer{
	
	width:100%;
	background-color:#2A2D2A;
	height:280px;
	position:relative;
	margin-top:30%;
}
.footerimg{
	width:210px;
	padding-top:1%;
	margin-left:auto;
	margin-right:auto;
}
#footermenu{
	margin-top:1%;
	color:white;
}