body{
	background-color:#2A2D2A;
}
.socialmedia{
	margin-left:-25px;
}
#nametag{
	color:red;
	display:inline-block;
	font-family:audiowide;
	font-size:1.7em;
}
#navbar{
	margin-bottom:0px;
	background-color:black;
}

#menu {
	display:inline-block;
	font-family:audiowide;
	position:relative;
	
}

#menu ul li {
	background-color:black;
	font-family:audiowide;
}
#menu li a{
	color:white;
	font-size:1.2em;
	font-family:audiowide;
}

#menu li a:hover{
	color:red;
	font-family:audiowide;
}

#the-slider{
	display:inline-block;
	margin-top:-52px;
}
.modal-content{
	margin-top:40%;
}
#logwindow{
	background-color:black;
	color:white;
}
.modal-header{
	border:none;
}
.modal-footer{
	border:none;
}
.modal-footer {
	border:none;
}
#logo{
	color:white;
	z-index:900;
	position:absolute;
	margin-left:5%;
	margin-top:3%;
	height:400px;

	font-family:audiowide;
}
#logo h1{
	display:inline-block;
	font-size:6em;
}
#header{
	position:fixed;
	height:auto;
	z-index:1;
	
}

.hqatitle{
	margin-top:5%;
	font-size:4em;
}
.midcontent{
	z-index:200;
	width:100%;
	margin-top:33.7%;
	background-color:black;
	position:relative;
	margin-bottom:0%;
	height:1400px;
	font-family:audiowide;
	color:white;


}
#storeitem{
	height:200px;
}



.miniproducts{
	display:inline-block;
	background-color:white;
	height:40px;
	width:100px;
}
#shoppingproducts{
	background-color:white;
}
.buttonproducts{
	display:inline-block;
	background-color:#2A2D2A;
	color:red;
	margin-left:0%;
	border:none;
}

.vid{
	width:1180px;
	margin-top:2%;
	margin-left:auto;
	margin-right:auto;
}
iframe{
	margin-left:2%;
	display:inline-block;
	border:2px solid white;
}
#text{
	font-family:audiowide;
	position:relative;
	color:white;
	width:30%;
	padding-top:5%;
	margin-left:auto;
	margin-right:auto;
	background-color:black;
	
}

#profile{
	width:40%;
	margin-top:4%;
	margin-left:auto;
	margin-right:auto;
}
.profilefoto{
	width:200px;
	height:200px;
	border-radius:999px;
	margin-top:2%;
	background-color:white;
	display:inline-block;
}
#left{
	float:left;
}
#right{
	float:right;
}
#slider{
	
	
}
.headertext{
	margin-top:5%;
	font-family:audiowide;
}
.abouttext{
	color:white;
	font-family:audiowide;
	width:40%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
}
hr{
	color:white;
	height:5px;
}

#footer{
	margin-top:-2%;
	width:100%;
	background-color:#2A2D2A;
	height:280px;
	position:relative;
}
.footerimg{
width:210px;
	padding-top:1%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2%;
}
#footermenu{
	margin-top:1%;
	color:white;
}